body {
    background-image: url(../img/berries-blackberries-close-up-434295.jpg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    background-color: rgba(68, 19, 117, 0.37);
}

.title {
    font-family: 'Reenie Beanie', cursive;
    font-size: 80px;
    text-align: center;
    background: rgba(68, 19, 117, 0.55);
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    color: rgba(117, 213, 213);
    padding: 5px;
    margin-top: 30px;
}

.smoothieName, smoothieID {
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;
}

.order {
    border: solid purple;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
    background: rgba(117, 213, 213, 0.80);
    margin-top: 20px;
}

.EnterHere {
    font-family: 'Reenie Beanie', cursive;
    font-size: 45px;
}

.enterForm {
    text-align: center;
    background: rgba(68, 19, 117, 0.55);
    border-radius: 25px;
    padding: 10px;
    color: rgba(117, 213, 213);
    margin: 30px 450px;
}

.orderEaten {
    text-align: right;
}